.App{
  text-align: center;
  background-color: rgb(112, 112, 178, 0.6);
  background-image: linear-gradient(to right, rgb(112, 112, 178, 0.6), rgb(7, 7, 112,0.8));
  font-family: 'Times New Roman', Times, serif

}

